#   nmsh-netns@.service template unit file                                                                    
#   Copyright (C) 2023  Nathan Eric Norman
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
#   along with this program.  If not, see <https://www.gnu.org/licenses/>.

[Unit]
Description=Named network namespace %I

After=network-pre.target
Before=network.target network-online.target nmsh-netns-setup@.target

[Install]
WantedBy=network-online.target
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
PrivateNetwork=yes

# start with a clean slate
ExecStartPre=-/usr/bin/env ip netns delete %I

# set up network namespace and bind it
ExecStart=/usr/bin/flock --no-fork -- /run/netns.lock /usr/bin/env ip netns add %I
ExecStart=/usr/bin/env umount /run/netns/%I
ExecStart=/usr/bin/env mount --bind /proc/self/ns/net /run/netns/%I

# remove the network namespace
ExecStop=/usr/bin/env ip netns delete %I
