#   nmsh-netns-setup@.service template unit file
#   Copyright (C) 2023  Nathan Eric Norman
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
#   along with this program.  If not, see <https://www.gnu.org/licenses/>.

[Unit]
Description=Set up network namespace %I

After=nmsh-netns@.service
BindsTo=nmsh-netns@.service
Before=network.target network-online.target

[Install]
WantedBy=network-online.target
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
# need to use PrivateNetwork=no if you are moving interfaces
PrivateNetwork=no

ExecStart=/home/normesh_core/nmsh-netns/scripts/nmsh-netns -i %I

ExecStop=/home/normesh_core/nmsh-netns/scripts/nmsh-netns -d %I
